@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'mixins';

//BOOTSTRAP
.accordion-button {
  &::after {
    transform: rotate(-90deg);
  }

  &:not(.collapsed) {
    &::after {
      transform: rotate(0deg);
    }
  }
}
//END BOOTSTRAP

//HELPERS
.pr-btn-b {
  width: 286px;
  height: 57px;
  @include rem(19);
  font-weight: 500;
  background-color: $pr-color-2;

  &::after {
    content: url("images/arrow-down-long-solid.svg");
    width: 12px;
    height: 18px;
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 10px;
  }

  &:active,
  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    background-color: lighten($pr-color-2, 10);
    transition: color .4s;
  }

  &--arrow-90 {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

.default-input-b {
  height: 50px;
  color: $sec-color;
  @include rem(16);

  &:active,
  &:focus {
    border-color: $sec-color;
    box-shadow: none !important;
  }
}

.md-height-b {
  width: 26px;
  height: 26px;
}

.info-tooltip-b {
  width: 18px;
  height: 18px;
  color: $white;
  font-size: 15px;
  background-color: $sec-color-11;
  border-radius: 50%;
}
//END HELPERS

body {
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

.header-b {
  background-color: $sec-color;
}

.logo-b {
  @include rem(17);
  font-family: 'Roboto Slab', serif;

  &--m-font {
    @include rem(22);
  }

  &__highlight {
    color: $pr-color;
    font-weight: 700;
  }

  &__subtitle {
    @include rem(14);
    font-family: 'Roboto', serif;
    color: $sec-color-3;
  }
}

.phone-b {
  @include rem(15);

  &::after {
    content: url("images/infolinia.svg");
    margin-left: 10px;
    display: inline-block;
    width: 25px;
    line-height: 0;
  }
}

.top-b {
  @include rem(17);
  background-color: $sec-color-2;

  .top-b {
    &__title {
      @include rem(19);
    }
  }
}

//START FORM
.our-offert-nav-b {
  &__step-belt {
    display: flex;
    align-items: center;
    @include rem(14);
    font-weight: 500;
    color: $pr-color-2 !important;
    text-align: left;
    background-color: $pr-color-3 !important;

    &::before {
      content: '1';
      margin-right: 7px;
      display: inline-block;
      width: 24px;
      height: 24px;
      color: $white;
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
      @include rem(14);
      background-color: $pr-color-2;
    }

    &--next-step {
      &::before {
        content: '2';
      }
    }
  }
}

.our-offert-form-b {
  color: $sec-color;

  &__header {
    @include rem(17);
    font-weight: 700;
  }

  &__que {
    @include rem(17);
    font-weight: 500;
  }

  &__addition-el {
    color: $sec-color-3;
    background-color: $sec-color-9;
  }

  &__inputs-boxes-container {
    justify-content: space-between;

    @media(min-width: 330px) {
      justify-content: start;
    }
  }

  &__input-box-simple {
    margin-bottom: 12px;

    @media(min-width: 330px) {
      margin-right: 12px;
    }
  }

  &__svg {
    max-width: 67px;

    &--small {
      max-width: 55px;
    }
  }

  .checked_and_our-offert-form-b__label {
    color: $pr-color !important;
    border: 1px solid $pr-color !important;
    background-color: $pr-color-4 !important;
    box-shadow: none !important;

    .our-offert-form-b__svg {
      fill: $pr-color;
    }
  }

  &__input {
    &:checked + .our-offert-form-b__label {
      @extend .checked_and_our-offert-form-b__label;
    }
  }

  &__label {
    width: 138px;
    height: 120px;
    color: $sec-color-3;
    background-color: transparent;
    border: 1px solid $sec-color-3;

    &:active,
    &:focus {
      @extend .checked_and_our-offert-form-b__label;
    }

    .our-offert-form-b__svg {
      fill: $sec-color-3;
    }
  }

  &__custom-checkbox-label {
    margin-top: 5px;
    @include rem(17);
    font-weight: 500;
    color: $sec-color;
  }

  &__custom-checkbox {
    &:checked {
      background-color: $pr-color;
      border-color: $pr-color;
    }

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &__custom-radio-container {
    height: 50px;
    color: $sec-color-3;
    border: 1px solid $sec-color-3;
    @include rem(14);
    font-weight: 500;

    &:focus {
      background-color: $pr-color-4;
    }

    &--active-bg-js {
      border-color: $pr-color;
      background-color: $pr-color-4;
    }
  }

  &__custom-radio {
    margin-right: 15px;
    width: 21px;
    height: 21px;

    &:checked {
      background-color: $white;
      border-color: $pr-color;

      &[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%233FAC2B%27/%3e%3c/svg%3e");
      }
    }

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &__custom-radio-label {
    margin-top: 3px;
  }
}

.rodo-b {
  &__content {
    font-size: 12px;
    font-weight: normal;
    color: $sec-color-6;
  }

  &__hide-content-btn {
    font-size: 12px;
    font-weight: 500;
    color: $sec-color !important;
    box-shadow: none !important;

    &:active,
    &:focus {
      box-shadow: none;
    }

    &::after {
      content: none;
    }
  }
}
//END FORM

.safe-many-b {
  @include bg('images/energia-direct-pompa-ciepla-wymierne-oszczednosci.jpg');
  
  &__title {
    @include rem(24);
    font-family: 'Roboto Slab', serif;
  }

  &__highlight {
    color: $pr-color-2;
    font-weight: 700;
  }
}

.safe-many-box-b {
  &__img-container {
    @include center-grid();
    width: 104px;
    height: 104px;
    background-color: $sec-color-4;
  }

  &__img-item {
    max-width: 56px;
  }

  &__title {
    font-family: 'Roboto Slab', serif;
    @include rem(19);
    color: $pr-color-2;
  }

  &__subtitle {
    @include rem(15);
    color: $sec-color-5;
  }
}

.que-buy-product-b {
  &__title {
    color: $sec-color;
  }

  &__highlight {
    color: $pr-color-2;
    font-weight: 700;
  }

  &__img-container {
    max-width: 260px;
  }
}

.accordion-item-b {
  &:first-child {
    border-top: 0;
  }

  $i: 1;
  @while $i < 7 {
    &:nth-child(#{$i}) {
      .accordion-item-b__button {
        &::before {
          content: "#{$i}";
          margin-right: 10px;
          width: 24px;
          height: 24px;
          color: $white;
          text-align: center;
          line-height: 24px;
          border-radius: 4px;
          @include rem(14);
        }
      }
    }
    $i: $i + 1;
  }

  &__button {
    padding: 15px 10px;
    color: $pr-color-2 !important;
    font-weight: 700;
    background-color: transparent !important;
    box-shadow: none !important;

    &::before {
      background-color: $pr-color-2;
    }

    &::after {
      background-image: url('images/angle-down-solid.svg') !important;
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: center;
    }
  }

  &__button.collapsed {
    color: $sec-color !important;
    @include rem(17);
    font-weight: 700;

    &::before {
      background-color: $sec-color;
    }
  }

  &__accordion-body {
    padding: 0 45px 28px;
    color: $sec-color-6;
    @include rem(14);
  }
}

.benefits-b {
  background-color: $sec-color-7;

  &__title {
    @include rem(24);
    font-family: 'Roboto Slab', serif;
  }

  &__highlight {
    color: $pr-color-2;
    font-weight: 700;
  }
}

.benefits-box-b {
  &__img-container {
    max-width: 50px;
  }

  &__title {
    @include rem(15);
    color: $sec-color;
    font-weight: 500;
  }

  &__subtitle {
    @include rem(14);
    color: $sec-color-6;
  }
}

.footer-b {
  background-color: $sec-color;

  &__content {
    @include rem(14);
    font-family: 'Roboto', serif;
    color: $sec-color-5;
  }
}

.footer-menu-b {
  list-style-position: inside;
  list-style-type: none;

  &__link {
    @include rem(14);
    font-family: 'Roboto', serif;
    color: $sec-color-5;

    &:hover {
      color: lighten($sec-color-5, 10);
      transition: color .4s;
    }

    &::before {
      content: url("images/angle-right-solid.svg");
      margin-right: 10px;
      display: inline-block;
      width: 6px;
    }
  }
}

.copyright-b {
  @include rem(12);
  color: $sec-color-8;
  border-top: 1px solid $sec-color-8;
}