@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'mixins';

body {
  font-family: 'Roboto', sans-serif;
  background-color: cadetblue;
}

.header-b {
  background-color: $sec-color;
}

.logo-b {
  @include rem(17);
  font-family: 'Roboto Slab', serif;

  &__highlight {
    color: $pr-color;
    font-weight: 700;
  }

  &__subtitle {
    @include rem(14);
    font-family: 'Roboto', serif;
    color: $sec-color-3;
  }
}

.phone-b {
  @include rem(15);
}

.top-b {
  @include rem(17);
  background-color: $sec-color-2;

  .top-b {
    &__title {
      @include rem(19);
    }
  }
}

.safe-many-b {
  @include bg('images/energia-direct-pompa-ciepla-wymierne-oszczednosci.jpg');
  
  &__title {
    @include rem(24);
    font-family: 'Roboto Slab', serif;
  }

  &__highlight {
    color: $pr-color-2;
    font-weight: 700;
  }
}

.safe-many-box-b {
  &__img-container {
    @include center-grid();
    width: 104px;
    height: 104px;
    background-color: $sec-color-4;
  }

  &__img-item {
    max-width: 56px;
  }

  &__title {
    font-family: 'Roboto Slab', serif;
    @include rem(19);
    color: $pr-color-2;
  }

  &__subtitle {
    @include rem(15);
    color: $sec-color-5;
  }
}