$white: #ffffff;

$pr-color: #3FAC2B;
$pr-color-2: #FF7F11;

$sec-color: #353C48;
$sec-color-2: #484f5b;
$sec-color-3: #939CAA;
$sec-color-4: #484e58;
$sec-color-5: #BFC4CF;
$sec-color-6: #7F8287;
$sec-color-7: #F4F4F4;
$sec-color-8: #626F7F;